.select-category-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 160px;
	gap: 15px;
}

@media screen and (min-width: 1025px) {
	.select-category-grid {
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	}
}

.select-category {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
